html,
body {
  background-image: url(../images/about.jpg);
}

section {
  grid-area: c;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.text {
  padding: 30px;
}

section > .item {
  background-color: rgba(3, 19, 46, 0.55);
  width: 45%;
  max-width: 1000px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 2px 4px 12px 4px;
}
/*Links
----------------------------------------------------Links-------*/
a {
  text-decoration: none;
}

a:hover {
  color: #69a9ff;
}

/*Content
----------------------------------------------------content-------*/
.crew_box {
  padding: 15px;
}

.crew_box > img {
  max-width: 90%;
}

/*Media Query
----------------------------------------------------Media Query-------*/

@media only screen and (max-width: 1200px) {
  section > .item {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  section > .item {
    width: 100%;
  }
}
