html,
body {
  background-image: url(../images/about.jpg);
}

section {
  grid-area: c;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.text {
  padding: 30px;
}

section > .item {
  background-color: rgba(3, 19, 46, 0.55);
  width: 45%;
  max-width: 1000px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 2px 4px 12px 4px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #69a9ff;
}

img {
  width: 100%;
  border: white solid 2px;
}

#right {
  float: right;
  padding-right: 12px;
}

/*video*/
.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  max-width: 1920px;
  margin: 35px auto;
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 1080px;
}

.crew {
  padding-top: 30px;
}

.crew_results {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
}

.crew_results > div {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  width: 90%;
  max-width: 650px;
  margin-bottom: 30px;
  padding: 10px 10px;
}

h5 {
  font-size: 33px !important;
  margin-bottom: 0px !important;
  margin-top: -5px !important;
}

h4 {
  font-size: 18px !important;
  line-height: 3px;
  margin-bottom: 5px !important;
}

/*Media Query*/

@media only screen and (max-width: 1200px) {
  section > .item {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  section > .item {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 500px) {
}

@media only screen and (max-width: 300px) {
}
