html,
body {
  background-image: url(../images/index2.jpg);
}

section {
  grid-area: c;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: left;
  align-items: flex-start;
  padding: 30px;
}

section > .item {
  background-color: transparent;
  margin-right: 0px;
  margin-bottom: 50px;
  padding: 20px 0px 19px 0px;
}

.button {
  background-color: rgba(3, 19, 46, 0.65);
  border: white solid 2.5px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 20px 60px 20px 60px;
  text-decoration: none;
  cursor: pointer;
  font-family: semplicitapro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.button:hover {
  background-color: #69a9ff;
}

/*
.one {
  color: blueviolet;
}*/
