html,
body {
  background-image: url(../images/bg_launches.jpg);
}

.container {
  height: 100%;
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px auto auto auto auto;
  grid-template-areas:
    "n n n n n n n n n n n n"
    ". h h h h h . . . . . ."
    ". a a a a a a a a a a ."
    "s c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}
article {
  display: flex;
  grid-area: a;
  margin-top: 300px;
  margin-bottom: 10px;
  padding: 30px;
}

article > .item {
  background-color: rgba(3, 19, 46, 0.75);
  flex-direction: row;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 2px 4px 12px 4px;
  width: 900px;
}

.text {
  padding: 30px;
}

aside {
  grid-area: s;
  background-color: #201714;
  height: auto;
}

section {
  grid-area: c;
  background-color: #201714;
  height: auto;
  justify-content: left;
  align-items: flex-start;
  padding: 30px;
}

.results {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
}

.results > div {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  width: 90%;
  max-width: 650px;
  margin-bottom: 30px;
  padding: 10px 10px;
}

h4 {
  color: white;
  margin-top: 30px;
}

h5 {
  color: white;
  font-size: 43px !important;
  margin-bottom: -25px !important;
  margin-top: -20px !important;
}

h6 {
  color: white;
  font-size: 18px !important;
  margin-bottom: -15px !important;
}

/*Media Query
----------------------------------------------------Media Query-------*/

@media only screen and (max-width: 600px) {
  article {
    flex-direction: column;
  }
  article > .item {
    width: auto !important;
  }
}
