/*-- g l o b a l ---------------------------------- g l o b a l ------------------------- g l o b a l ------------------*/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*------Grid set up------------------------------*/
.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px auto auto auto;
  grid-template-areas:
    "n n n n n n n n n n n n"
    ". h h h h h . . . . . ."
    ". c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.container > aside,
section,
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

header {
  grid-area: h;
  display: block;
  height: auto;
  padding-top: 130px;
  padding-left: 30px;
}

/* IN ALL pages */

/*-- n a v ---------------------......--  n a v -----------------------------  n a v  ---------------*/
nav {
  grid-area: n;
  background-color: rgba(3, 19, 46);
  font-size: 1.5em;
  font-family: semplicitapro, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.11em;
}

/*--f o o t e r-----------------------f o o t e r------------------------ f o o t e r ---------------*/
footer {
  grid-area: f;
  flex-direction: column;
  padding: 30px;
  margin-top: 240px;
  background-color: #03132e;
  justify-content: flex-start;
  align-items: flex-start;
}

footer > .box {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 4px 12px 4px 12px;
}

.some,
.rights,
.adr,
.fab {
  color: #acacac;
  padding-right: 15px;
}

.some:hover {
  color: #69a9ff;
}

/*Buttons
----------------------------------------------------Buttons-------*/
.button {
  background-color: rgba(3, 19, 46, 0.65);
  border: white solid 2.5px;
  margin-top: 150px;
  margin-bottom: 50px;
  margin-right: 39px;
  padding: 20px 60px 20px 60px;
  text-decoration: none;
  cursor: pointer;
  font-family: semplicitapro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.button:hover {
  background-color: #69a9ff;
}

/*Video
----------------------------------------------------Video-------*/
.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  max-width: 1920px;
  margin: 35px auto;
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 1080px;
}

/*Navigation Hamburger Menu
----------------------------------------------------Navigation-------*/
.bar {
  width: 100%;
  height: 65px;
  z-index: 999;
}
a {
  color: white;
}

ul {
  list-style-type: none;
  margin-right: 10px;
  top: 42px;
  text-align: center;
  line-height: 65px;
  display: none;
  position: relative;
  background-color: rgba(3, 19, 46);
  width: 100%;
}

li a {
  position: relative;
  display: block;
  text-align: center;
  border-bottom: 2px solid gray;
  text-decoration: none;
  z-index: 999;
}

li a:hover {
  color: #fff;
  text-decoration: underline;
}
span {
  color: white;
  text-decoration: underline;
}

#hamburger-menu {
  display: none;
  float: right;
}

label {
  color: white;
  float: right;
  font-size: 1.5em;
  position: relative;
  margin-right: 10px;
  margin-top: 4px;
}
#hamburger-menu:checked ~ ul {
  display: block;
}

/*-------------------------------------------------------------------------------------------------------900---Media Queries-------------------------*/
@media only screen and (min-width: 900px) {
  /*-----------------------------------------------------------------------------------------------------900---Media Queries-------------------------*/
  /*-------navigation---------*/

  nav {
    background-color: transparent;
  }
  .bar {
    width: 100%;
  }

  ul {
    display: inline;
    float: right;
    background-color: transparent;
    position: relative;
    top: -23px;
    text-align: right;
  }

  li {
    display: inline;
  }

  li a {
    position: relative;
    top: 0px;
    display: inline;
    text-align: center;
    padding: 16px 34px;

    border-bottom: none;
  }

  #hamburger-menu {
    display: none;
  }

  label {
    display: none;
  }

  #hamburger-menu:checked ~ ul {
    display: none;
  }
}
/*-----------------------------------------------------------------------------------------------------500---Media Queries-------------------------*/
@media only screen and (max-width: 500px) {
  .button {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 30px 20px 30px 20px;
    font-size: 15px;
  }
}
