/*Typography*/

/* Adobe Typekit fonts (Bebas Neue, Simplicita Pro, Proxima Nova)
-----------------------------------------------------------------------------------------------------------------*/
@import url("https://use.typekit.net/jco7oac.css");

h1 {
  /*Headlines*/
  font-family: semplicitapro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 95px;
}
h2 {
  /*Ingress*/
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
h3 {
  /*for space-x only*/
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 10px;
}
h4 {
  /*body copy*/
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.4em;
}
h5 {
  font-family: semplicitapro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 33px;
  margin-bottom: -3px;
  margin-top: -3px;
}
h6 {
  /*blue*/
  color: #69a9ff;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  margin-bottom: -20px;
}

.headline_typo {
  line-height: 6em;
  margin: -60px 0px -50px 0px;
}
.headline_typo1 {
  line-height: 6em;
  margin: -60px 0px -20px 0px;
}

/*Media Query
----------------------------------------------------Media Query-------*/

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 75px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 55px;
  }
}

@media only screen and (max-width: 300px) {
  h1 {
    font-size: 35px;
  }
}
